<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block mesd_user_content %}
            {% endblock mesd_user_content %}
        </div>
    </body>
</html>