{% extends "MesdUserBundle::layout.html.twig" %}

{% block mesd_user_head %}
    {% block mesd_user_filter_css %}
    {% endblock mesd_user_filter_css %}
{% endblock mesd_user_head %}

{% block mesd_user_content %}

    {% if error is defined %}
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
    {% endif %}

    {% block mesd_user_filter_content %}
    {% endblock mesd_user_filter_content %}

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $( document ).ready(function() {
            function addSolvent(dropdown) {
                var solvent = $('#solvent');
                solvent.html('');
                var role = dropdown.val();
                if ('' !== role) {
                    $.ajax({
                        url: '{{ path('MesdUserBundle_filter_solvent') }}',
                        data: {id: role}
                    }).done(function(msg) {
                        var afterSolvent = $('#afterSolvent');
                        if ('' === msg) {
                            afterSolvent.html('');
                        } else {
                            var solvent = $('#solvent');
                            solvent.append(msg);
                            afterSolvent.html('<button id="addAnother">Add Another</button>');
                            $('#addAnother').on('click', function(event) {
                                event.preventDefault();
                                solvent.append(msg);
                                $('.no-listener-yet').on('change', function() {
                                    updateSolvent();
                                }).removeClass('no-listener-yet');
                            });
                        }
                        $('.no-listener-yet').on('change', function() {
                            updateSolvent();
                        }).removeClass('no-listener-yet');
                    });
                }
            };
            function updateSolvent() {
                var solvent = {};
                $('#solvent').each(function(index) {
                    console.log( this );
                });
                $('#mesd_user_filter_solvent').val(JSON.stringify(solvent));
            };
            $('.filter-role-dropdown').on('change', function() {
                addSolvent($(this));
            });
        });
    </script>
    {% block mesd_user_filter_javascripts %}
    {% endblock mesd_user_filter_javascripts %}
{% endblock mesd_user_content %}