{% extends "MesdUserBundle::layout.html.twig" %}

{% block mesd_user_content %}

    <div>
        <p>User account {{ form.username.vars.value }} has been created.</p>
        <p>A confirmation email was sent to {{ form.email['first'].vars.value }}</p>
    </div>

{% endblock mesd_user_content %}