{% extends "MesdUserBundle::layout.html.twig" %}

{% block mesd_user_content %}

    <div>
        <p>User account {{ form.username.vars.value }} has been created.</p>
        {% if send_mail %}
        <p>A confirmation email was sent to {{ form.email['first'].vars.value }}</p>
        {% endif %}
        {% if approval %}
        <p>However, account approval is required and your account is locked.</p>
        {% endif %}
    </div>

{% endblock mesd_user_content %}