{% extends "MesdUserBundle::layout.html.twig" %}
{% trans_default_domain "mesd_user" %}

{% block mesd_user_content %}
<p>
    {{ 'email.sent.to.%adress%'|trans({'%address%': email}) }}
    {{ 'contains.link.must.click.to.reset.password'|trans }}
</p>
{% endblock mesd_user_content %}