{% extends "MesdUserBundle::layout.html.twig" %}
{% trans_default_domain "mesd_user" %}

{% block mesd_user_content %}

<p>{{ 'password.reset.for.user.already.requested'|trans }}</p>

{% endblock mesd_user_content %}